@model Hadia.Models.ViewModels.BatchViewModel
@{
    ViewData["Title"] = "Batch";
    ViewData["Description"] = "Details";
}

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3"> @Html.LabelFor(model => model.GroupName)</dt>
            <dd class="col-sm-9">  @Html.DisplayFor(model => model.GroupName)</dd>

            <dt class="col-sm-3">  @Html.LabelFor(model => model.PassoutYear)</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PassoutYear)
            </dd>
            <dt class="col-sm-3"> @Html.LabelFor(model => model.Description)</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<a asp-action="Index">Back to List</a>