@model Hadia.Models.ViewModels.CountryViewModel
@{
    ViewData["Title"] = "Country";
    ViewData["Description"] = "Details";
}
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3"> @Html.LabelFor(model => model.CountryName)</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.CountryName)</dd>

            <dt class="col-sm-3">  @Html.LabelFor(model => model.CountryCode)</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CountryCode)
            </dd>
            <dt class="col-sm-3">
                @Html.LabelFor(model => model.TimeZone)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TimeZone)
            </dd>
        </dl>
    </div>
</div>
<a asp-action="Index">Back to List</a>



