@model Hadia.Models.ViewModels.MemberDetailsViewModel
<dl class="row">
    <dt class="col-sm-3">
        Member Name:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-3">
        Batch Name:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.BatchName)
    </dd>
    <dt class="col-sm-3">
        Chapter Name:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ChapterName)
    </dd>
    <dt class="col-sm-3">
        Contact Number:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-3">
        Present Address:
    </dt>
    <dd class="col-sm-9">
        <p>@Html.DisplayFor(model => model.PresentAddress)</p>
    </dd>
    <dt class="col-sm-3">
        Permanant Address:
    </dt>
    <dd class="col-sm-9">
        <p> @Html.DisplayFor(model => model.PermanentAddress)</p>
    </dd>
    <dt class="col-sm-3">
        UG College:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.UgCollegeName)
    </dd>
    <dt class="col-sm-3">
        Date of Birth:
    </dt>
    <dd class="col-sm-9">
        @Model.DateOfBirth?.ToString("MMM/dd/yyyy")
    </dd>
    <dt class="col-sm-3">
        Email:
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>
