@model Hadia.Models.ViewModels.MemberDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Member Detail</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                <li class="nav-item"><a href="#highlighted-justified-tab1" class="nav-link active" data-toggle="tab"></a>Profile</li>
                <li class="nav-item"><a href="#highlighted-justified-tab2" class="nav-link" data-toggle="tab">Education</a></li>
                <li class="nav-item"><a href="#highlighted-justified-tab3" class="nav-link" data-toggle="tab">Family</a></li>
                <li class="nav-item"><a href="#highlighted-justified-tab4" class="nav-link" data-toggle="tab">Work</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="highlighted-justified-tab1">
                    <div id="London" class="tabcontent">

                        <dl>
                            <dt>
                                Name:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                Chapter:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ChapterName)
                            </dd>
                            <dt>
                                Phone:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt>
                                Email:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                District:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DistrictName)
                            </dd>
                        </dl>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="highlighted-justified-tab2">

                    <dl>

                        <dt>
                            Batch:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BatchName)
                        </dd>
                        <dt>
                            UG College:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UgCollegeName)
                        </dd>
                    </dl>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Sn
                                </th>
                                <th>

                                    Degree Name
                                </th>
                                <th>
                                    Rank
                                </th>
                                <th>
                                    University
                                </th>
                                <th>

                                    Pass Out Year
                                </th>
                                <th>
                                    Specialization
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int SNo = 0; }
                            @foreach (var edu in Model.EducationDetails)
                            {
                                <div>
                                    <tr>

                                        <td> @(SNo += 1)</td>
                                        <td>@Html.DisplayFor(x => edu.Qualification.DegreeName)</td>
                                        <td>@Html.DisplayFor(x => edu.Qualification.Rank)</td>
                                        <td>@Html.DisplayFor(x => edu.University.UniversityName)</td>
                                        <td>@Html.DisplayFor(x => edu.PassoutYear)</td>
                                        <td>@Html.DisplayFor(x => edu.Specialization)</td>

                                    </tr>
                                </div>


                            }
                        </tbody>
                    </table>
                </div>
              

                <div class="tab-pane fade" id="highlighted-justified-tab3">
                    <dl>
                        <dt>
                            Spouse Name:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SpouseName)
                        </dd>
                        <dt>
                            Spouse Age:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SpouseAge)
                        </dd>
                        <dt>
                            Spouse Education:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.QualificationName)
                        </dd>
                    </dl>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Sn
                                </th>
                                <th>

                                    Kids Name
                                </th>
                                <th>

                                    Kids Age
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int SlNo = 0; }
                            @foreach (var Kid in Model.Kids)
                            {
                                <div>
                                    <tr>

                                        <td> @(SlNo += 1)</td>
                                        <td>@Html.DisplayFor(x => Kid.KidName)</td>
                                        <td>@Html.DisplayFor(x => Kid.Age)</td>
                                    </tr>
                                </div>


                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="highlighted-justified-tab4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Sn
                                </th>
                                <th>

                                    Company Name
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>

                                    Job Title
                                </th>
                                <th>
                                    Date From
                                </th>
                                <th>
                                    Date Upto
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int SN = 0; }
                            @foreach (var Work in Model.WorkDetails)
                            {
                                <div>
                                    <tr>

                                        <td> @(SN += 1)</td>
                                        <td>@Html.DisplayFor(x => Work.CompanyName)</td>
                                        <td>@Html.DisplayFor(x => Work.Location)</td>
                                        <td>@Html.DisplayFor(x => Work.Country.CountryName)</td>
                                        <td>@Html.DisplayFor(x => Work.JobTitle)</td>
                                        <td>@Html.DisplayFor(x => Work.DateForm)</td>
                                        <td>@Html.DisplayFor(x => Work.DateUpto)</td>
                                    </tr>
                                </div>


                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card-footer d-flex justify-content-between align-items-center bg-teal-400 border-top-0">
    <a asp-action="index" class="btn bg-transparent text-white border-white border-2">Cancel</a>
    <a asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-outline bg-white text-white border-white border-2">Approve </a>
</div>

