@model Hadia.Models.ViewModels.EducationalQualificationMasterViewModel
@{
    ViewData["Title"] = "Educational Qualification";
    ViewData["Description"] = "Details";
}

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3"> @Html.LabelFor(model => model.DegreeName)</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.DegreeName)</dd>

            <dt class="col-sm-3"> @Html.LabelFor(model => model.Rank)</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Rank)
            </dd>
            <dt class="col-sm-3"> @Html.LabelFor(model => model.IsPhd)</dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.IsPhd)</dd>
        </dl>
    </div>
</div>
<a asp-action="Index">Back to List</a>