
@model List<Hadia.Models.ViewModels.EducationalQualificationMasterViewModel>
@{
    ViewData["Title"] = "Index";
  
}

<h2>Educational Qualifications</h2>
@Html.ActionLink("Create New","Create")
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sn
                </th>
                <th>
                    Degree Name
                </th>
                <th>
                    Rank
                </th>
                <th>
                    Is Phd
                </th>
                <th>
                    Option
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int SlNo = 0; }
            @foreach (var master in Model)
            {
            <tr>
                <td> @(SlNo += 1)</td>
                <td>@Html.DisplayFor(x => master.DegreeName)</td>
                <td>@Html.DisplayFor(x => master.Rank)</td>
                <td>@Html.DisplayFor(x => master.IsPhd)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@master.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@master.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@master.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
