@model List<Hadia.Models.DomainModels.Mem_SpouseEducationMaster>
@{
    ViewData["Title"] = "Index";
}

<h2>Spouses Education Details</h2>
@Html.ActionLink("Create New", "Create")

<table class="table">
<thead>
    <tr>
        <th>
            Sn
        </th>
        <th>
            Qualification Name
        </th>
        <th>
            Option
        </th>
    </tr>
</thead>
<tbody>
    @{int SlNo=0;}
    @foreach(var item in Model)
    {
    <tr>
        <td>
            @(SlNo += 1)
        </td>
        <td>@Html.DisplayFor(x => item.QualificationName)</td>
        
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
           
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>

    }


</tbody>
</table>
