@model List<Hadia.Models.ViewModels.ReportsViewModel>
@{
    ViewData["Title"] = "Reports";
    ViewData["Description"] = "Index";

}
<div class="card">

    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title"></h6>
        <div class="header-elements">
            
        </div>
    </div>



    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sn
                    </th>
                    <th>
                        Topic
                    </th>

                    <th>
                        Reported By
                    </th>
                    <th>
                        Reason
                    </th>

                    <th>
                        Narration
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int SlNo = 0; }
                @foreach (var master in Model)
                {
                <tr>
                    <td> @(SlNo += 1)</td>

                    <td>@Html.DisplayFor(x => master.Post)</td>

                    <td>@Html.DisplayFor(x => master.ReportedBy)</td>
                    <td>@Html.DisplayFor(x => master.Reason)</td>

                    <td>@Html.DisplayFor(x => master.Narration)</td>
                    <td>
                             <a asp-action="Details" asp-route-id="@master.Id" class="btn btn-outline bg-success border-primary text-primary-800 btn-icon"><i class="icon-file-eye"></i></a>

                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
